<table class="table">
    <thead>
      <tr>
        <th scope="col">code</th>
        <th scope="col">name</th>
        <th scope="col">type</th>
        <th scope="col">price</th>
        <th scope="col">stock</th>
        <th scope="col">image</th>
        <th scope="col">quantity</th>
        <th scope="col">buy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beer of beerList; index as i" [ngClass]="{'cleareance' : beer.cleareance}">
        <th scope="row">{{beer.code}}</th>
        <td>{{beer.name}}</td>
        <td>{{beer.type | uppercase}}</td>
        <td>{{beer.price | currency}}</td>
        <td *ngIf="beer.stock == 0"><span class="badge bg-danger">Sin Stock</span></td>
        <td *ngIf="beer.stock > 0">{{beer.stock}}</td>
        <td><img class="img-fluid  img-thumbnail img"[src]="beer.image" [alt]="beer.name"></td>
        <td>
            <app-input-number (limit)="setLimitReached($event)" [(quantity)]="beer.quantity" [max]="beer.stock"  *ngIf="beer.stock"></app-input-number>
            Cant: {{beer.quantity}}
           <p *ngIf="beer.quantity == beer.stock && beer.stock > 0" style="color: red;"> {{limit}}</p>
        </td>
        <td>
            <button class="btn btn-primary" (click)="addToCart(beer)">Buy</button>
        </td>
      </tr>
    </tbody>
  </table>
  
