
<div class="card" style="width: 18rem;">
    <img src="https://enduro21.com/images/2022/november-2022/motos-pro-beta-390-rr-4t-racing-cristobal-guerrero/2022_beta_rr_racing_350_cristobal_guerrero0018.jpg"  class="img-fluid  img-thumbnail img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
