<!-- <h5>Shopping cart</h5>
<div *ngIf="cartList$[0]" class="col-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">type</th>
            <th scope="col">price</th>
            <th scope="col">quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let beer of cartList$ ">
        <td>{{beer.name}}</td>
            <td>{{beer.type | uppercase}}</td>
            <td>{{beer.price | currency}}</td>
            <td>
                Cant: {{beer.quantity}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
  -->

