<div class="row d-flex justify-content-center mt-4">
    <div class="col-6 ml-3 d-flex">
            <div class="col-12">
                <h1 class="justify-self-center">
                    {{motoDetail.name}}
                </h1>                
                <h3 class="justify-self-center">
                    {{motoDetail.type}}
                </h3> 
                <p>
                    {{motoDetail.description}}
                </p>
                <p>
                    {{motoDetail.description}}
                </p>
            </div>
               
    </div>
    <div class="col-5">
        <img class="img-fluid  img-thumbnail img" src="{{motoDetail.image}}" alt="">
    </div>
</div>